# Database Type: mssql or postgres
DB_TYPE=mssql
 
# Database Connection Settings (SQL Server / SSMS)
DB_HOST=192.168.5.38,1433
DB_NAME=navigatto_new
DB_TABLE=dbo.journeys
 
# Set to 'yes' to use SSMS Windows Authentication (No username/password needed)
# Set to 'no' to use SQL Server Authentication (And fill user & password below)
DB_TRUSTED_CONNECTION=no

USE_ML_MODEL = 2

DB_USER=abc
DB_PASSWORD=123

# Telemetry Replay Settings
TELEMETRY_REPLAY_INTERVAL_SEC=1
# If true: resumes from where it left off on refresh. If false: starts sending all historical alerts from the beginning (ID 0)
STREAM_RESUME_FROM_LATEST=false


ENABLE_MANUAL_REPLAY_CONTROL=true